# Abaikan folder myenv
ModelAI/myenv/

# Abaikan folder env lain (jika ada)
env/
venv/
myenv/

# Abaikan file sementara
*.log
*.tmp

# Abaikan dependency Python jika pakai pipenv
Pipfile.lock

# Virtual environment
venv/
.env/
__pycache__/
*.pyc

# Jupyter/VSCode cache
.ipynb_checkpoints/
.vscode/

# Model & download cache (opsional)
*.bin
*.pt
*.h5
*.ckpt

# HuggingFace cache (opsional)
~/.cache/huggingface/
